extends layout

block content
    include ../public/template.html
    .container
        .row
            .column.column-80
                input(type="text" id="location") 
            .column.column-20
                button(id="gps") GPS
                button.float-right(id="search") Search
                
        .row
            .column
                ul#result