extends layout

block content
    include ../public/template.html
    .top
        h1 NightLife
    .container
        .row
            .column
                input(type="text" id="location")
            .column
                button(id="search") Search
        .row
            .column
                ul#result