extends layout

block content
    include ../public/template.html
    .container
        .row
            .column.column-60
                input(type="text" id="location") 
            .column.column-40
                center
                    button.float-right(id="search") Search
                    button(id="gps") use GPS
                    
                
        .row
            .column
                ul#result