extends layout

block content
    include ../public/template.html
    .container
        .row
            .column
                input(type="text" id="location") 
            .column
                button.float-right(id="search") Search
                button(id="gps") use GPS
                    
                
        .row
            .column
                ul#result